// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading{
  text-align:center;
  color:#606060;
}


#logolink14 {
  background-image: url("../assets/facebook.png");
  padding-left: 2em;
  background-repeat:no-repeat;
}
